body {
background-image: url("img/background.jpg");
margin: 40px;
}


  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  h1 {
text-align: center;
color: #c2babac7;
  }

  h3 {
    color: #c2babac7;
      }

  .front {
    background-color: grey;
    height: 1500px;
  }

.posts-wrapper {
  width: 50%;
  margin: 20px auto;
  border: 1px solid #eee;
}

.post {
  width: 90%;
  margin: 20px auto;
  padding: 10px 5px 0px 5px;
  border: 1px solid green;
}

.post-info {
  margin: 10px auto 0px;
  padding: 5px;
}

.fa {
  font-size: 1.2em;
}

.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}

.logged_in_user {
  padding: 10px 30px 0px;
}

i {
  color: blue;
}

.center {
  text-align: center;
}